cdk-virtual-scroll-viewport{
    height: 50vh;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background:beige;
  
}
li{
    height: 10px;
    width: 400px;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background:goldenrod;
}
a{
    color: gold;
}