<div class="data">
    <p class="Name">Name:  {{house.name}}</p>
    <p>Region: {{house.region}}</p>
    <p>Coat of Arms: {{house.coatOfArms}}</p>
    <p>Word : {{house.word}} </p>
    <p>Titles: {{house.titles}}</p>
    <p>Seats : {{house.seats}}</p>
    <p>Founded : {{house.founded}}</p>
    <p>Died Out: {{house.diedOut}}</p>
    <p>Ancestral weopons: {{house.ancestralWeapons}}</p>
</div>
<div class="clickable-data">
    <div class="current-lord-value" *ngFor=" let lord of house.currentLord">
        <a (click) = "onCharacterClick(lord)"><p>Current Lord: {{lord}}</p></a>
    </div>
    
    <p>Heir:</p><a (click)="onCharacterClick(house.heir)"> {{house.heir}}</a>
    <p>Overlord:</p><a (click)="onHouseClick(house.overlord)">{{house.overlord}}</a>
    <p>Cadet Branches: </p>
    <div class="cadet-houses" *ngFor="let house of house.cadetBranches">
        <a (click) = "onHouseClick(house)">{{house}}</a>
    </div>
    <p>Sworn Members: </p>
        <div class="sworn-members" *ngFor="let character of house.swornMembers ">
            <a (click)="onCharacterClick(character)">{{character}}</a>
        </div>
</div>


