<p>Name:{{house.name}}</p>
<p>Region: {{house.region}}</p>
<p>Coat of Arms: {{house.coatOfArms}}</p>
<p>Word : {{house.word}} </p>
<p>Titles: {{house.titles}}</p>
<p>Seats : {{house.seats}}</p>
<div class="character-values">
    <div class="current-lord-value" *ngFor=" let lord of house.currentLord">
        <a (click) = "onCharacterClick(lord)"><p>Current Lord: {{lord}}</p></a>
    </div>
    
    <a (click)="onCharacterClick(house.heir)"><p>Heir : {{house.heir}}</p></a>
</div>
<a (click)="onHouseClick(house.overlord)"><p>Overlord: {{house.overlord}}</p></a>
<p>Founded : {{house.founded}}</p>
<p>Died Out: {{house.diedOut}}</p>
<p>Ancestral weopons: {{house.ancestralWeapons}}</p>
<p>Cadet Branches: </p>
<div class="cadet-houses" *ngFor="let house of house.cadetBranches">
    <a (click) = "onHouseClick(house)">{{house}}</a>
</div>
<p>Sworn Members: </p>
<div class="sworn-members" *ngFor="let character of house.swornMembers ">
    <a (click)="onCharacterClick(character)">{{character}}</a>
</div>

