<p>Name:{{house.name}}</p>
<p>Region: {{house.region}}</p>
<p>Coat of Arms: {{house.coatOfArms}}</p>
<p>Word : {{house.word}} </p>
<p>Titles: {{house.titles}}</p>
<p>Seats : {{house.seats}}</p>
<p>Current Lord: {{house.currentLord}}</p>
<p>Heir : {{house.heir}}</p>
<p>Overlord: {{house.overlord}}</p>
<p>Founded : {{house.founded}}</p>
<p>Died Out: {{house.diedOut}}</p>
<p>Ancestral weopons: {{house.ancestralWeapons}}</p>
<p>Cadet Branches: {{house.cadetBranches}}}</p>
<p>Sworn Members: {{house.swornMembers}}</p>
